h1{
	font-family: 'Monoton', cursive;
	font-size: 70px;
	color: black;
	font-weight: bolder;
}

h2{
	font-family: 'Monoton', cursive;
	font-size: 25px;
	color: black;
	font-weight: bold;
}

h1, h2{
	text-align: center;
}


.mainblocks{
	position: absolute;
}


.mainmenu:hover, .gameagain:hover, .selection:hover{
	cursor: pointer;
	color: gray;
}


#gameOverScreen, #titlepage{
	margin-top: 40px;
	height: 450px;
	background: rgba(255, 255, 255, 0.8);
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

#GUILeft, #GUIRight{
	margin-top: 40px;
	height: 450px;
	background: rgba(255, 255, 255, 0.8);
	border-color: black;
	border-style: solid;
	border-width: 2px;
	align-items: center;
	font-family: 'Monoton', cursive;
	font-size: 20px;
	font-weight: bolder; 
	text-align: center;
}

#GameEnd, #titleblock{
	padding-top:125px;
	padding-bottom: 175px; 
	font-family: 'Monoton', cursive;
	font-size: 20px;
	font-weight: bolder; 
	text-align: center;
	color: black;
	width:100%;
}

.spacer{
	margin-left: 20px;
	margin-right: 20px;
}

body{
	background-image: url("assets/gym.jpg");
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
}

#QsDiv{
	padding: 20px;
	margin-top: 50px;
}

.gameObjs{
	width:95%;
	align-items: center;
}

#dumb0{
	height: 40px;
}

#dumb1{
	height: 60px;
}

#dumb2{
	height: 90px;
}

#dumb3{
	height: 110px;
}

#dumb4{
	height: 140px;
}

footer{
	font-family: 'Monoton', cursive;
	font-size: 12px;
	font-weight: bolder; 
	text-align: center;
	color: black;
	position: relative;
	top: 555px;
	right: 10px;
}

@media screen and (max-width: 768px){

	footer{
		position: relative;
		top: 1000px;
	}

	body{
		background-size: auto;
		background-repeat: repeat-y;	
	}

}

@media screen and (max-width: 640px){
	
	footer{
		position: relative;
		top: 1000px;
	}

	body{
		background-size: auto;
		background-repeat: repeat-y;	
	}
}